:root { 
    --background: #010101; 
    --table-background: ghostwhite; 
    --primary: #101824; 
    --gray: #A0A7B1; 
    --odd-row: #f6f9ff;
    --gray-background: #EDEEF1; 
    --gray-mid: #F1F2F6; 
}

body { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 14px; 
    background-color: var(--background);
}

.table-widget { 
    border-radius: 16px; 
    background-color: var(--table-background); 
    padding: 20px; 
    border: 1px solid var(--gray-background); 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, 
    rgba(0, 0, 0, 0.08) 0px 8px 0px 1px; 
    text-align: left; 
    overflow-x: auto; 
}


.table-widget table { 
    max-width: fit-content; 
    border-collapse: collapse;
}

.table-widget caption {
    font-size: 1.15em; 
    font-weight: 700; 
    text-align: left; 
    margin: 8px 0px; 
}

.table-widget th { 
    padding: 20px 16px; 
    font-size: 0.9rem; 
    color: var(--gray);
}


/* Correct positioning employee content */

.table-widget thead {
    border-top: 2px solid var(--gray-background);
}

.table-widget tfoot { 
    margin-top: 15px; 
    border-top: 2px solid var(--gray-background);
}

/* -- TD fix -- */ 

.table-widget td { 
    padding: 8px 16px; 
    vertical-align: middle;
}

/* END Correct positioning employee content */

.table-widget tbody tr {
    cursor: pointer; 
}

.table-widget tbody tr:nth-child(odd) { 
    background-color: var(--odd-row);
    transition: 0.3s;
}

.table-widget tbody tr:hover { 
    background-color: #e2ecff;
}



